{% extends "admin/base.html" %}

{% block stylesheets %}
	{{ Assets.css("assets/css/challenge-board.scss", theme="admin") }}
{% endblock %}

{% block content %}
	<div class="modal fade" id="challenge-modal" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="text-center w-100 p-0 m-0">Challenge Preview</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="challenge-window" style="height: 80vh;">
				</div>
				<div class="text-center">
					<h5>
						Preview may be slightly different from the user-facing interface
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="challenge-comments-window" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-action text-center w-100">Comments</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body clearfix">
					<div class="row">
						<div class="col-md-12">
							<div id="comment-box">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">{{ challenge.name }}</h1>
			<h2 class="text-center">{{ challenge.category }}</h2>
			<h2 class="text-center">{{ challenge.type }}</h2>
			{% set badge_state = 'badge-danger' if challenge.state == 'hidden' else 'badge-success' %}
			<h5>
				<span class="badge {{ badge_state }} challenge-state">
					{{ challenge.state }}
				</span>
			</h5>
			<h3 class="text-center">{{ challenge.value }} points</h3>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div id="solution-update-container" class="col-md-12">
       <form method="POST">
	        {% block message %}
        <div class="form-group">
                <label>
                        Message<br>
                        <small class="form-text text-muted">
                                A brief introduction to your challenge.
                        </small>
                </label>
{{ challenge_html }}
        </div>
        {% endblock %}

        {% block solution %}
        <div class="form-group">
                <label>
                        Solution<br>
                        <small class="form-text text-muted">
                                Use this to give a solution to your challenge.
                        </small>
                </label>
                <textarea id="solution-editor" class="form-control chal-desc-editor markdown" name="solution" rows="20">{{ solution.solution }}</textarea>
        </div>
        {% endblock %}
        
        {% block state %}
        <div class="form-group">
                <label>
                        Solution State<br>
                        <small class="form-text text-muted">Changes the state of the challenge solution (e.g. visible, solved, hidden)</small>
                </label>

                <select class="form-control custom-select" name="solution_state">
                        <option value="visible" {% if solution.state == "visible" %}selected{% endif %}>Visible</option>
                        <option value="solved" {% if solution.state == "solved" %}selected{% endif %}>Solved</option>
                        <option value="hidden" {% if not solution.state == "hidden" %}selected{% endif %}>Hidden</option>
                </select>
        </div>
        {% endblock %}

        {% block submit %}
        <div>
                <button class="btn btn-success btn-outlined float-right" type="submit">
                        Update
                </button>
        </div>
        {% endblock %}
       </form>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
        <script>
        var CHALLENGE_ID = {{ challenge.id }};
        var CHALLENGE_NAME = {{ challenge.name | tojson }};
        </script>
        <script defer src="{{ url_for('solutions.static', filename='js/serialize.js') }}"></script>
        <script defer src="{{ url_for('solutions.static', filename='js/solution.js') }}"></script>
{% endblock %}

